{% extends 'base.html' %}
<!-- Main extend -->
{% block title %}About{% endblock title %}
<!-- Created for title -->
{% block body %}
<div class="text-center"><p class="lead"><h2 class="featurette-heading">About Us</h2></p></div>
<hr class="featurette-divider" />
<div class="container marketing my-2">
  <div class="text-center"><p class="lead"><h2 class="featurette-heading">Our 3 Rules</h2></p></div>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img
        src="static/img/about1.jfif"
        class="rounded-circle"
        alt="..."
      />

      <h2>Customer satisfaction</h2>
    
      
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        src="static/img/about2.jfif"
        class="rounded-circle"
        alt="..."
      />

      <h2>Work Ethics</h2>
     
      
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        src="static/img/about3.jfif"
        class="rounded-circle"
        alt="..."
      />

      <h2>Quality Service</h2>
      
      
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Welcome to T-Defend.
        <span class="text-muted">We are happy to help you</span>
      </h2>
      <p class="lead">
        In T-Defend we are always try to make our customers happy. We are very new in the market but you can trust us.
        We can do our work with full dedication. our main motive is Customer satisfaction.
        Our professional team will always ready to help you.
        Thank you!
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
      src="static/img/about3.o.jfif"
      class="d-block w-100"
      alt="..."
    />
    </div>
  </div>

  <hr class="featurette-divider" />


{% endblock body %}
<!-- Created for body -->
