{% extends 'base.html' %}
<!-- Main extend -->
{% block title %}About{% endblock title %}
<!-- Created for title -->
{% block body %}

  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">About Us</h1>
    <p class="lead my-3"></p>
  </div>
</div>
<!-- Created for body -->
<div class="container text-center py-10">
  <p class=" lead">
    At T-Defend we belive in security and reliability. At T-Defend we all come
    to work every day because we want our customer happy. Customer satisfaction is our first goal.
    We can build Responsive Web Applications for you and we can also check and penetrate your existingn website.
  </p>
</div>

{% endblock body %}
<!-- Created for body -->
