{% extends 'base.html' %}
<!-- Main extend -->
{% block title %}Services{% endblock title %}
<!-- Created for title -->
{% block body %} 

      <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic ms-4">Services</h1>
    <p class="lead my-3"></p>
  </div>
</div>
<!-- Created for body -->

<div class="row featurette ">
    <div class="col-md-7 order-md-2  shadow p-auto mb-auto bg-body rounded">
      <h2 class="featurette-heading">
        Don't have a website ?
        <span class="text-muted">Build your website today.</span>
      </h2>
      <p class="lead">
        At T-Defend we belive in security and reliability. At T-Defend we all come
    to work every day because we want our customer happy. Customer satisfaction is our first goal.
    We can build Responsive Web Applications for you and we can also check and penetrate your existingn website.
        Create a website and make your business online. We deliver web and
        mobile app development services with 100% project delivery success. Hire
        the best programmers at affordable prices.
      </p>
      
     <h2 class="featurette-heading">
        Check your website security.
        <span class="text-muted">Test your Website</span>
      </h2>
      <p class="lead">
        In today's most of the attack happens on websites. Web security is most critical aspect of any online business.
        But with us your can prevent all security threats. With the help of our professional penetration testers.
        They scan your existing website and make a report with recomendedsollution.
      </p>

      <h2 class="featurette-heading">
        We are always here to help you. <br>
       <span class="text-muted">Why us?</span>
      </h2>
      <p class="lead">
        <ul class="lead">
          <li>24/7 Support</li>
          <li>Fast Delivery</li>
          <li>Affordable price</li>
          <li>Full on Customization</li>
          <li>Proper documentation</li>
        </ul>
      </p>


    </div>
    <div class="container col-md-5 order-md-1 align-left">
      <img src="https://source.unsplash.com/1200x900/?tech" class="d-block w-100 ms-4" alt="..." />
    </div>
  </div>

</div>


 {% endblock body %}
<!-- Created for body -->
